@model Student
@inject IStudentRepository _studentRepository

@{
    ViewData["Title"] = "创建学生信息";
}

<form asp-controller="home" asp-action="Create" method="post" class="mt-3">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group row">
        <label asp-for="Name" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input class="form-control" placeholder="请输入名字" asp-for="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Email" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Email" class="form-control" placeholder="请输入邮箱" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="ClassName" class="col-sm-2 col-form-label"></label>
        @* Html.GetEnumSelectList<ClassNameEnum>()获取枚举中的具体值 *@
        <div class="col-sm-10">
            <select class="custom-select mt-sm-2" asp-for="ClassName" asp-items="Html.GetEnumSelectList<ClassNameEnum>()">
                <option value="">请选择</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn-primary">创建</button>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            学生信息总人数：@_studentRepository.GetAllCount()
        </div>
    </div>
</form>