<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] </title>
    <script src="~/lib/jquery/jquery.js"></script>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>


    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body style="width:70%;margin-left:15%;margin-top:5%;">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" asp-controller="home" asp-action="Index">
            <img src="~/images/2.png" height="30" width="30" alt="Aiternate Text" />
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="collapsibleNavbar" class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="home" asp-action="Index">学生列表</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="home" asp-action="Create">添加学生</a>
                </li>
            </ul>
        </div>

    </nav>
    <div>
        @RenderBody()
    </div>

    @*required: false表示非必填*@
    @RenderSection("scripts", required: false)

    @*@if (IsSectionDefined("scripts"))
        {
            @RenderSection("scripts")
        }*@
</body>
</html>