@{
    ViewBag.Title = "页面不存在";
}

<h1>@ViewBag.ErrorMessage</h1>
<h1>@ViewBag.QueryStr</h1>
<h1>@ViewBag.BasePath</h1>
<a class="btn btn-outline-success" asp-controller="home" asp-action="Index" style="width:auto;">点击跳转到首页</a>